/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Base                                                 */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* UTILITY CLASSES */
.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.center {
  display: grid;
  place-items: center;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

/* BASIC STYLING */
:root {
  --app-background-dark: rgb(24, 23, 32);
}

body {
  background-color: var(--app-background-dark);
  font-family: 'Noto Sans', 'Open Sans', arial, sans-serif;
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

h2, h3, p, span, li {
  color: #fff;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Component                                            */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* HEADER */
header {
  height: 60px;
}

header h2 {
  text-transform: uppercase;
  font-size: 16px;
}

h2, nav {
  line-height: 60px;

  ul li {
    font-size: 18px;
    font-weight: 600;
  }
}

/* MAIN */

/* FOOTER */
footer {
  height: 70px;
}